.data {
    flex: 1 1;
    padding: 10px 0px 0px 20px;
}
.data__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 40px;
}
.data__headerLeft {
    display: flex;
    align-items: center;
}
.data__headerRight svg {
    margin:0px 10px;
}
.data_grid {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.data__file {
    text-align: center;
    border: 1px solid rgb(204 204 204 / 46%);
    margin: 10px;
    min-width: 200px;
    padding: 10px 0px 0px 0px;
    border-radius: 5px;
}
.data__file svg {
    font-size: 60px;
    color:gray
}
.data__file p {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    font-size: 12px;
    background: whitesmoke;
    padding: 10px 0px;
}
.datalistRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.datalistRow p {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.datalistRow p b {
    display: flex;
    align-items: center;
}
.datalistRow p svg {
   font-size: 22px;
   margin:10px
}